html{
  font-family: monospace;
  margin: 10% 5%;
  background-color: #f5f5f5;
}
.loginform{
display: flex;
flex-direction: column;
  align-items: center;
  background-color: #323030;
  color: #f5f5f5;
  box-shadow: 10px 10px 10px 10px #3c3d37;
  margin: .5%;
  padding: .2%;
}
.loginform input{
  display: flex;
  margin: 7%;
  padding: 2%;
  color: #4eb8b5;
  
}
.loginform div{
 border:  1px solid #f5f5f5;
}
.loginform div *{
  padding-left: 7%;
}
.loginform input[type=submit]{
  background-color:#424242;
  color: #f5f5f5;
}
.loginform input[type=submit]:hover{
  background-color:#323030;
  color: #4eb8b5;
}
.logHead{
  display: flex;
  justify-content: center;
}
.logCred{
  background-color: #323030;
  color: #f5f5f5;
}

.unA{
  display: flex;
  justify-content: center;
  color: #4eb8b5;
  box-shadow: 5px 5px 5px 5px #3c3d37;
}

.dashHead{
  color: #424242;
  display: flex;
  justify-content: center;
}
table{
border-collapse: collapse;

}

.us{
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 5px 5px #3c3d37;
  background-color: #323030;
  color: #f5f5f5;
}

th td {
  display:inline-block; 
  padding: 5%;
}

.cks{
  padding: 3%;
  
}


.drop{
  background-color: #424242;
  color: #f5f5f5;
}

.Sub{
  color: #f5f5f5;
  background-color: #229799;
}

.hd label {
 margin: 1%;
 padding: 1%;
}

 @media only screen and (max-width: 662px) {
.us{
  overflow-x:scroll;
  scroll-behavior: smooth;
  scrollbar-width: 1px;
  scrollbar-color: #323030;
}
}